*{ 
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.historia{
    margin: 0.5rem;
    margin: 2% 3%;
}
.cora{
    width: 100%;
    height: 15%;

}
p{
    font-size: large;
}
.imagenQS{
    width:50%;
    padding: 2%;
    margin: auto;
    
}

.textoFoto{
    text-align: center;

}
