
    <!-- <img src="../../assets/imgs/fondoCaballos.jpg" alt="" class="cora"> -->
   
    <div class="historia">
        <h3>Historia de nuestra empresa</h3>
        <p>Hípica Alfaro nació con el enorme amor que siente por los caballos nuestra dueña Mari Alfaro. Ella desde muy pequeña ha estado junto a estos increibles animales.</p> 
        <p>En el año 2020 empezó a formar una gran familia con un mismo objetivo, cuidar, amar, aprender y disfrutar.</p> 
        <p>Nuestro club destaca en cuanto a bienestar animal, siendo el valor más importante. Ningún tipo de maltrato sera aceptado. Siguiendo por incorporando nuevas tecnologías, como la videovigilancia individual de nuestros caballos o las mensualidades online.</p>
        <br>
        <h3>Que nos gustaria que pasase</h3>
        <p>Nos encantaría recibiros a cada uno de vosotros y poder regalaros los mejores momentos vividos con la ayuda de nuestros caballos. Queremos ofrecer experiencias inolvidables los cuales compartir con quien mas queremos. Y os avisamos, ¡el amor engancha!</p>
       <br>
        <h3>Que esperamos de tí</h3>
        <p>Por vuestra parte esperamos que vengais preparados para ser uno más del equipo, aprender lo máximo sorbre el cuidado y cariño de los fantasticos que son los caballos y que podasis usar nuestro club como parte de vuestra vida. Que esteis dispuestos a dar y recibir muchos mimos ¡¡y por supuesto una manzanita dulce para vuestros amigos equinos!!</p>
        <div class="imagenQS">
            <img src="../../assets/imgs/beso.jpg" alt="" class="imagenQS">
            <img src="../../assets/imgs/niños.jpg" alt="" class="imagenQS">
          <h4 class="textoFoto">Dar amor siempre es bienvenido</h4>
          
        </div>
    </div>

