<div class="centro">
  <div class="encabezadoBar">
    <div class="tituloBar">
      <h2>El Bocado Bar</h2>
      <h5>Menú diario</h5>
    </div>
    <div class="preciosBar">Todos los menús incluyen bebida y postre <br>
      Precio:<strong> 12€ </strong>
    </div>
  </div>
  <div class="bar">

    <div class="card" style="width: 18rem;">
      <div class="card-body">

        <h5 class="card-title">Lunes</h5>
        <hr>

        <span class="card-text">Primer plato: </span><br>
        <strong>-Ensalada césar</strong><br>
        <span class="card-text">Segundo plato: </span><br>
        <strong>-Pollo con patatas y salsa a la pimienta</strong>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Martes</h5>
        <hr>

        <span class="card-text">Primer plato: </span><br>
        <strong>-Ensalada césar</strong><br>
        <span class="card-text">Segundo plato: </span><br>
        <strong>-Pollo con patatas y salsa a la pimienta</strong>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Miércoles</h5>
        <hr>

        <span class="card-text">Primer plato: </span><br>
        <strong>-Ensalada césar</strong><br>
        <span class="card-text">Segundo plato: </span><br>
        <strong>-Pollo con patatas y salsa a la pimienta</strong>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Jueves</h5>
        <hr>

        <span class="card-text">Primer plato: </span><br>
        <strong>-Ensalada césar</strong><br>
        <span class="card-text">Segundo plato: </span><br>
        <strong>-Pollo con patatas y salsa a la pimienta</strong>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Viernes</h5>
        <hr>

        <span class="card-text">Primer plato: </span><br>
        <strong>-Ensalada césar</strong><br>
        <span class="card-text">Segundo plato: </span><br>
        <strong>-Pollo con patatas y salsa a la pimienta</strong>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Sábado</h5>
        <hr>

        <span class="card-text">Primer plato: </span><br>
        <strong>-Ensalada césar</strong><br>
        <span class="card-text">Segundo plato: </span><br>
        <strong>-Pollo con patatas y salsa a la pimienta</strong>
      </div>
    </div>
    <p></p>
  </div>
</div>
