<div class="servicios">
  <h2>¡Cosas que hacer con nosotros!</h2>
  <p>¡Aquí podrás encontrar todos los servios que podemos ofrecer!</p>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          <h3>Clases de equitación</h3>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="foto">
            <!-- <img src="../../assets/imgs/clases.jpg" class="card-img-top" alt="..."> -->
          </div>
          <div class="clases">
            <div class="imagenClases">
            <h4>¿De que trata?</h4>
            <p> Ven a divertirte y aprender a nuestras clases de equitación. <br>
           No solo aprenderas a no caerte del caballo, si no al completo cuidado de él.
           Una correcta posicion y movimientos sobre el caballo, su alimentación, limpieza, anatomia,herramientas y su buen uso entre tantas cosas que aprenderás.</p>
           </div>
           <div class="imagenClases">
            <img src="../../assets/imgs/trabajoherr.jpg" alt="" class="imagen" >
           </div>
          </div>
          <span>
            <h4>Horarios</h4>
            <p>Ofrecemos distintos horarios para una mjor adaptación. Cada clase tiene un nivel, para poder progresar de
              la manera más cómoda, dividiendolo en <br>
              -Bajo, para los más novatos. <br>
              -Medio, para los queya saben cositas. <br> 
              -Alto, para los que más estan aprendiendo.</p>
              <!--  todo SACAR PRECIOS DE BASE DE DATOS -->
              <p>El precio mensual es de  €</p>
          </span>
          <table>
            <tr>
              <th><i class="bi bi-suit-heart-fill"></i></th>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miércoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <th>Sábado</th>
            </tr>
            <tr>
              <th>10h</th>
              <td class="bajo">Bajo</td>
              <td class="medio">Medio</td>
              <td class="alto">Alto</td>
              <td class="bajo">Bajo</td>
              <td class="medio">Medio</td>
              <td class="alto">Alto</td>
            </tr>
            <tr>
              <th>12h</th>
              <td class="alto">Alto</td>
              <td class="bajo">Bajo</td>
              <td class="medio">Medio</td>
              <td class="alto">Alto</td>
              <td class="bajo">Bajo</td>
              <td class="bajo">Bajo</td>
            </tr>
            <tr>
              <th>16h</th>
              <td class="medio">Medio</td>
              <td class="alto">Alto</td>
              <td class="bajo">Bajo</td>
              <td class="medio">Medio</td>
              <td class="alto">Alto</td>
    
            </tr>
            <tr>
              <th>18h</th>
              <td class="bajo">Bajo</td>
              <td class="medio">Medio</td>
              <td class="alto">Alto</td>
              <td class="bajo">Bajo</td>
              <td class="medio">Medio</td>
       
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <h3>Excursiones</h3>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="foto">
            <img src="../../assets/imgs/excMontaña.jpg" class="card-img-top" alt="...">
            <img src="../../assets/imgs/excPlaya.jpg" class="card-img-top" alt="...">
          </div>
          <h4>Excursión por la playa</h4>
          <p>Tenemos el privilegio de poder cabalgar entre la arena blanca y fina de nuestra isla. <br>
            El recorrido son 2 horas por la playa, con unos minutos de descanso y fotos antes de la vuelta. Se realizan los domingos a las 10h en temporada de inverno.</p>
          <p>La ruta es por las playas de Santa Ponsa  <br>
            Ubicacion del punto de encuentro <a href="https://www.google.com/maps/place/P%C3%A0rquing+Municipal+Santa+Pon%C3%A7a/@39.5191436,2.4817627,17.92z/data=!4m6!3m5!1s0x129789bf21e9e2fd:0xca7307f5aa8005cd!8m2!3d39.5181649!4d2.4824401!16s%2Fg%2F11c1r1g9gr?authuser=0" target="_blank" class="rrss">aquí</a>
           
          </p>
          
          <h4> Excursión por la montaña</h4>
          <p>En Mallorca tenemos de todo, y como menospreciar los increibles paisajes desde las alturas. <br>
            Nuestra excursion de montaña es de 3 horas, una pequeña merienda por medio y unas vistas aseguradas. Se realizan los sábados a las 17h durante la temporada de verano.
          </p>
          <p>La ruta se realiza por la montaña de Galatzó <br>
            Ubicacion del punto de encuentro <a href="https://www.google.com/maps/place/Galatz%C3%B3/@39.606981,2.4706407,113m/data=!3m1!1e3!4m6!3m5!1s0x12978abd2c6829c3:0x7d121272d170bac!8m2!3d39.6070025!4d2.4704004!16s%2Fg%2F1232j8_t?authuser=0" target="_blank" class="rrss">aquí</a>

          </p>

          <h5>Se recomienda traer calzado cómodo y pantalón largo.</h5>
          <hr>
          <!--Formulario para poder reservar-->
          
          <h4>¡Haz tu petición de reserva desde aquí!</h4>
          <p>Puedes reservar una excursión con nosotros rellenando éste formulario. Recibirá de vuelta un correo de
            confirmación si todo es correcto.</p>
          <button class="btn btn-primary btnReservar" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            ¡Pulsa para reservar!
          </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form class="row g-3 fromReserva" [formGroup]="excursionForm">
                <div class="col-md-6">
                  <label for="name" class="form-label">Nombre (Requerido)*</label>
                  <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">Email (Requerido)*</label>
                  <input id="email" type="text" class="form-control" formControlName="email">
                </div>

                <div class="col-12">
                  <label for="people" class="form-label">Número de personas</label>
                  <select class="form-select" aria-label="Default select example" formControlName="people">
                    <option selected>Seleccione uno</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                  </select>
                </div>
                <div class="col-12">
                  <label for="date" class="form-label">Fecha de la excursión</label>
                  <input type="date" class="form-control" id="date" formControlName="date">
                </div>
                <div class="col-md-6">
                  <label for="type" class="form-label">Tipo </label>
                  <select class="form-select" aria-label="Default select example" formControlName="type">
                    <option selected>Seleccione uno...</option>
                    <option value="Playa">Excursión por la playa</option>
                    <option value="Montaña">Excursión por la montaña</option>

                  </select>
                </div>

                <div class="col-12 botonReserva">
                  <div *ngIf="!mnjConfirm">
                  <button type="submit" class="btn btn-primary btnReservar"
                    (click)="reservarExcursion()" >Reservar</button>
                    </div>
                    <div *ngIf="mnjConfirm">
                    <button type="submit" disabled class="btn btn-primary btnReservar"
                    (click)="reservarExcursion()" >Reserva solicitada</button>
                  </div>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3>Pupilaje de cuadras</h3>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="foto">
            <img src="../../assets/imgs/cuadras.png" class="card-img-top" alt="...">

          </div>
          <p>Informacion de tipos cuadras</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h3>Celebración cumpleaños</h3>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="foto">
            <img src="../../assets/imgs/niños.jpg" class="card-img-top" alt="...">
            <img src="../../assets/imgs/muffinsCumple.jpg" class="card-img-top" alt="">
          </div>
          Informacion como celebrar el cumpleaños.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h3>Fiestas temáticas</h3>
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="foto">
            <img src="../../assets/imgs/navidad.jpg" class="card-img-top" alt="...">

          </div>
          Informacion de nuestras celebraciones
        </div>
      </div>
    </div>

  </div>

</div>