<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img src="../../assets/imgs/bienestarAnimal.jpg" class="d-block w-100 " alt="...">
        <div class="card-body">
          <h5 class="card-title">Bienestar animal</h5>
          <p class="card-text">Lo que más importa en Hípica Alfaro es que nuestros fieles amigos equinos vivan felices.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="../../assets/imgs/excPlaya2.jpg" class="d-block w-100 fotoCarrousel" alt="...">
        <div class="card-body">
          <h5 class="card-title">Excursiones a caballo</h5>
          <p class="card-text">No dudes en probar nuestras excursiones. ¡No te arrepentirás!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="../../assets/imgs/clases.jpg" class="d-block w-100 fotoCarrousel" alt="...">
        <div class="card-body">
          <h5 class="card-title">Clases de equitación</h5>
          <p class="card-text">¡Sé el mejor jinete o amazona aprendiendode la forma más divertida y sana posible!</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
